.nav-link {
    color: rgb(235, 235, 235);
    font-size: larger;
    transition: color 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
    color: white;
}

.theme-toggler {
color: rgb(235, 235, 235);
margin-top: 10px;
margin-right: 10px;
}

.theme-toggler:hover {
    color: white;
}

 .navbar {
    background: linear-gradient(90deg, rgba(52,152,219,1) 0%, rgb(84, 68, 173) 100%); 
}
.navbar-nav {
    display: flex;
    align-items: left; 
}

.navbar-nav.me-auto {
    margin-right: auto; 
}

.navbar-nav.ms-auto {
    margin-left: auto; 
}

.navbar-nav .nav-item {
    margin-right: 10px; 
}
.footer {
    background: linear-gradient(90deg, rgba(52,152,219,1) 0%, rgb(84, 68, 173) 100%);
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    width: 100%;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.onyx .navbar,
.onyx .footer {
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.ebony .navbar,
.ebony .footer {
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.twilight .navbar,
.twilight .footer {
    background: linear-gradient(90deg,  rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}

.midnight .navbar,
.midnight .footer{
    background: linear-gradient(90deg, rgb(234, 160, 192,1) 0%, rgba(148,187,233,1) 100%);
}

.shadow .navbar,
.shadow .footer {
    background: linear-gradient(90deg, rgba(52,152,219,1) 0%, rgb(84, 68, 173) 100%);
}
.about {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resume-container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
.resume-container {
width: 100%; 
max-width: 100%;
    }
.theme-toggler {
    margin-top: 5px;
    margin-bottom: 5px;
}
 }

.resume-content {
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}

.resume-content strong {
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.resume-content ul {
    list-style-type: none;
    padding: 0;
}

.resume-content li {
    margin-bottom: 10px;
}

.resume-content a {
    color: #3073a3;
    text-decoration: none;
    font-weight: bold;
}

.resume-content a:hover {
    text-decoration: underline;
}

.resume-content hr {
    color: rgb(100, 100, 100);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}